body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hsl(264, 53%, 37%);
    color: #fff;
    padding: 01px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
}

footer {
    background-color: hsl(264, 53%, 37%);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    background-image: url(src/img/Instagram\ post\ petshop\ divertido\ roxo\ e\ laranja.png);
    background-size: cover;
    background-attachment: fixed;
}