<footer class="primary-bgcolor py-4">
  <div class="container">
      <div class="row ">
          <div class="col-12 md-6">
              <h6 class="text-white text-center">AdotaJP</h6>
              <p class="text-white text-center">Rua das Ruas, 333. B. de JotaPê, João Pessoa - PB <br> 83 99999-9999</p>
          </div>
          <div class="col-12 d-flex justify-content-center mt-1" id="social-media">
              <a href="https://www.instagram.com/adotajp/" ><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-meta"></i></a>
              
              <a href=""><i class="bi bi-whatsapp"></i></a>
          </div>
      </div>
  </div>
</footer>